@use '../../scss/variables' as *;

.chat {
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  background-color: $white;
  padding: 10px;
  display: flex;
  overflow: auto;
  height: calc(100vh - 60px);
}

.message__empty {
  margin: auto;
}

.message__error {
  margin: auto;
}

.message__list {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
  gap: 5px;
  flex-direction: column-reverse;
  padding: 10px 0;
  overflow-y: auto;
}

.dropArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
