@use "../../scss/variables"  as *;


.chat{
  border-radius: 15px 15px 0 0;
  background-color: $white;
  padding: 10px;
  display: flex;
  height: calc(100dvh - 60px);
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

