@use '../../scss/variables' as *;
@use '../../scss/animation' as *;

.modal {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  &::backdrop {
    backdrop-filter: blur(8px);
  }

  form {
    padding: 35px;
  }
  input {
    font-size: 15px;
    padding: 13px;
    height: 46px;
    border-radius: 15px 15px 0 15px;
    border: 1px solid #00000033;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
  }

  &__buttons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    justify-content: space-between;

    button {
      width: 100%;
      @include effects-button;
      padding: 10px;
      color: $white;
      border-radius: 5px;
      border: none;
      background-color: $green;
      cursor: pointer;
    }
  }
}
