.form {
  display: flex;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  .form__send {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--green);
  }
  .form__input {
    font-size: 15px;
    padding: 13px;
    height: 46px;
    border-radius: 15px 15px 0 15px;
    border: 1px solid #00000033;
    outline: none;
    width: 100%;
  }
}
