@use '../../scss/variables' as *;

.chat {
  border-radius: 15px 15px 0 0;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: auto;
  height: calc(100vh - 60px);
  &__list {
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    & > a {
      text-decoration: none;
    }
  }
}
