@use '../../scss/variables' as *;
@use '../../scss/animation' as *;

.attachMenu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.attachIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.dropdown {
  display: block;
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #00000033;
  border-radius: 5px;
  padding: 10px 0;
  min-width: 132px;
  z-index: 1;
}
.dropdownItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  &:hover {
    background-color: $green-hover;
  }
}
