@use '../../scss/variables' as *;

.profile {
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  background-color: $white;
  padding: 35px;
  display: flex;
  overflow: auto;
  height: calc(100vh - 60px);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
