@use '../../scss/variables' as *;

.profile {
  flex-direction: column;

  border-radius: 15px 15px 0 0;
  background-color: $white;
  padding: 35px;
  display: flex;
  height: calc(100dvh - 60px);
}
