@use '../../scss/variables' as *;

.chat {
  border-radius: 15px 15px 0 0;
  background-color: $white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: auto;
  height: calc(100vh - 60px);
  &__list {
    min-height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    & > a {
      text-decoration: none;
    }
  }
}

.noChats {
  font-size: 16px;
  text-align: center;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
