@use './variables' as *;
@use 'reset';

html {
  font-family: system-ui;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $green;
  margin: 0;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
